// Widescreens
@include mediaLg {
    .projects {
        grid-template-columns: repeat(5, 1fr);
    }
    .languages {
        grid-template-columns: repeat(4, 1fr);
    }
    .courses {
        grid-column: repeat(3, 1fr);
    }
}

// Desktops & Laptops
@include mediaMd {
    .projects {
        grid-template-columns: repeat(5, 1fr);
    }
    .languages {
        grid-template-columns: repeat(3, 1fr);

        .items {
            max-width: 25vw;

            img {
                width: 15vw;
            }
        }
    }
    body#body-about {
        margin-left: -2rem;
        margin-right: -4rem;
        
    }
    .img-container {
        display: inline-flex;
    }
    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;

        .bio-image {
            margin: 0;
        }

        .job {
            width: 101%;
            padding-left: 5rem;
            padding-right: 5rem;
            margin-bottom: -3rem;
            margin-left: -5rem;
        }
    }
}

// Tablets & Notebooks
@include mediaSm {
    body {
        overflow-y: visible;
    }
    main {
        align-items: center;
        text-align: left;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav {
        float: none;
        width: 100vw;
        height: 100vh;
        min-height: 0;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;

        &.show {
            transform: translate3d(0,0,0);
        }

        &.close {
            transform: translate3d(-100%,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(0,-100%,0);
        font-size: 24px;
    }

    body#body-about {
        margin-left: -2rem;
        margin-right: -4.5rem;
        
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;

        p {
            padding-right: 3rem;
        }

        .bio-image {
            margin: 0;
        }

        .bio {
            font-size: 1.8rem;
        }

        .job {
            width: 100%;
            padding-left: 3rem;
            margin-bottom: -3rem;
            margin-left: -3rem;

            
        }
    }

    .projects {
        grid-template-columns: minmax(100%, 1fr);

        #dropdown1 {
            grid-row-start: 2;
            grid-row-end: 3;
        }

        #dropdown2 {
            grid-row-start: 3;
            grid-row-end: 4;

            ul {
                padding-right: 2rem;
            }
        }

        #dropdown3 {
            grid-row-start: 4;
            grid-row-end: 5;
        }

        #dropdown4 {
            grid-row-start: 5;
            grid-row-end: 6;
        }

        #dropdown5 {
            grid-row-start: 6;
            grid-row-end: 7;
        }
    }
    .dropdown-content {
        grid-column: 1 / 1;
        width: 100vw;
        margin-left: -5rem;

        h1 {
            margin-left: 2rem;
            margin-right: 3rem;
        }

        .img-container {
            text-align: center;
        }
    }

    #body-skills {
        margin-left: -3rem;
        margin-right: -3.5rem;
    }

    .languages {
        grid-template-columns: repeat(1, 1fr);
        justify-items: left;
        .items {
            display: flex;
            justify-content: space-between;
            max-width: 40vw;

            img {
                width: 30vw;
            }

            h1 {
                padding-left: 2rem;
                text-align: left;
                min-width: 60%;
                align-self: center;
            }
        }
    }

    .courses{
        ul {
            padding-right: 2rem;
        }
        .course-items {
            margin: 0;
            padding-left: 4rem;
            flex: 0 0 100%;
        }
    }

    #body-contact {
        overflow-y: hidden;
    }
    
    .contact {
        text-align: left;
    }

    .boxes {
        pointer-events: none;
    }

    #main-footer {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        padding: 0.7rem;
    }
}